doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/keycanvas.css')
    script(type='text/javascript', src='/js/libs/jquery-2.2.3.min.js')
    script(type='text/javascript', src='/js/jquery.keycanvas.js')
    script(type='text/javascript', src='/js/keycanvas.js')
  body
    block content
