extends layout

block additionalScripts
  link(rel='stylesheet', href='/css/login.css')

block content
  form.form-signin(action='/login',method='POST')
    span.canvasTitle
      | KeyCanvas
    label.sr-only(for='inputEmail')
      | Email
    input#email.form-control(type='email', placeholder='Email address', required='', autofocus='')
    label.sr-only(for="inputPassword")
      | Password
    input#password.form-control(type='password', placeholder='Password', required='')
    button.btn.btn-lg.btn-primary.btn-block(type='submit')
      | Sign in
    if(message)
      | #{message}