extends layout

block additionalScripts
  link(rel="stylesheet", href="/css/login.css")

block content
  form.form-signin(action="/login",method="POST")
    span.canvasTitle
      | #{title}
    label.sr-only(for="inputEmail")
      | Email
    input#email.form-control(type="email", name="email",autocomplete="off", placeholder="Email address", required="", autofocus="")
    label.sr-only(for="inputPassword")
      | Password
    input#password.form-control(type="password", name="password", autocomplete="off", placeholder="Password", required="")
    button.btn.btn-lg.btn-primary.btn-block(type="submit")
      | Sign in
    if(message)
      | #{message}