body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.canvas-container {
  position: relative;
}

#drawingSpace {
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
}
